.header{
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-evenly;
    color: white;
}
.links{
    display: flex;
    justify-content: space-between;
}

/* similar to overriding UI of paragraph tag */
a{
    margin: 0 50px;
    color: white;
}